{:paths ["src"]
 :main "main.lg"
 :targets {:bin {:out "bin/skl"}}
 :deps {tiny-cli {:git/url "https://github.com/abogoyavlensky/tiny-cli"
                  :git/tag "v0.2.0"}
        tiny-tui {:git/url "https://github.com/abogoyavlensky/tiny-tui"
                  :git/sha "a5af93dfd8e7d40a4ac27c6e572bcdeaf7d4ba92"}}
 :tasks {fmt {:doc "Format source files (available actions: fix, check; default: fix)"
              :args [{:name :action
                      :type [:enum "fix" "check"]
                      :default "fix"}]
              :do [{:sh "cljfmt {{action}}"}]}
         lint {:doc "Lint source files"
               :do [{:sh "find src test -type f -name '*.lg' -print0 | xargs -0 clj-kondo --lint"}]}
         
         check {:doc "Run all checks"
                :do [{:sh "lgx fmt fix"}
                     {:sh "lgx lint"}
                     {:sh "lgx test"}]}}}
